<% include ../header %>
<h1>レッスン一覧</h1>
<ul>
<% for (var i=0; i<2; i++) { %>
<li><a href="./lesson/teke/<%= i %>">レッスンNo. <%= i %></a></li>
<% } %>
</ul>
<p><a href="./">Top</a></p>
<% include ../footer %>