<% include ../header %>
    <header id="header_lesson">
        <div class ="logo hoverPointer">TSUKUTTA!!</div>
        <h1 class="lesson_title"><%=  lesson.lessonTitle %></h1>
        <span class="back_menu hoverPointer">レッスン一覧へ</span>
    </header>
    <div id ="main">
        
        <!--   メインの左側     -->
        <div class="lesson_area">
            
            <div class="lesson_mini_title">
                <h2 class="mini_title_str"><%= lesson.lessonContents.Chap1.chapTitle %></h2>
                <div class="lesson_now_num hoverPointer"><%= lesson.lessonContents.Chap1.chapNum %>/25 ▼</div>
            </div>
            
            <ul class="tab_change">
                <li class="tab_change_li hoverPointer">説明</li>
                <li class="tab_change_li hoverPointer">HTML</li>
                <li class="tab_change_li hoverPointer">CSS</li>
                <li class="tab_change_li hoverPointer">JS</li>
            </ul>
            
            <div class="lesson_content">
                <h3 class="lesson_content_title"><%= lesson.lessonContents.Chap1.chapContents.Section1.sectionNum %> <%= lesson.lessonContents.Chap1.chapContents.Section1.sectionTitle %></h3>
                <p class="lesson_content_detail">
                    <%= lesson.lessonContents.Chap1.chapContents.Section1.sectionContents.sectionExplainment %>
                </p>
            </div>
            <div class="hint_zone">
                <div class="hoverPointer" id="hint_top">
                    <div class="hint_watch">ヒントを見る</div>
                    <span class="hint_appear">^</span>
                </div>
                <div class="hint_contents" id="hint_switch">
                    <p class="hint_contents_detail">
                        <%- lesson.lessonContents.Chap1.chapContents.Section1.sectionContents.sectionHint %>
                    </p>
                </div>
            </div>
            <div class="lesson_bottom">
                <div class="back_button hoverPointer">＜ 戻る</div>
                <div class="switch_button hoverPointer">ミニテストモード</div>
                <div class="forward_button hoverPointer">次へ ＞</div>
            </div>
            
        </div>
        
        <!--   メインの右側     -->

        <div class="preview_and_sample_area">
            <div class="preview_area">
                <div class="preview_title">
                    <h2 class="preview mini_title_str">プレビュー</h2>
                    <div class="tsukutta_button hoverPointer">ツクッタ!!</div>
                </div>
                <div class="reload hoverPointer">
                    <img src="/img/reload.png">
                </div>
                <div class="preview_content"></div>
            </div>
            
            <div class="sample_area">
                <div class="sample_title">
                    <h2 class="mihon mini_title_str">見本</h2>
                </div>
                <div class="mihon_content">
                    <iflame>
                    </iflame>
                </div>
            </div>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".hint_zone").click(function(){
                var hint_switch = document.getElementById('hint_switch');
                var hint_top = document.getElementById('hint_top');
                
                console.log(hint_top.style);

                if (hint_switch.style.visibility === "hidden"){
                    hint_switch.style.visibility = "visible";
                    hint_top.style.borderRadius= "5px 5px 0 0";
                } else {
                    hint_switch.style.visibility = "hidden";
                    hint_top.style.borderRadius= "5px";
                }
            });
        });
    </script>
<% include ../footer %>