@charset "UTF-8";
/* fontsize */
/* region_colors */
/* font_color */
/* others_color */
/* 全体 */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: "ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana ,"ＭＳ Ｐゴシック",sans-serif; }

.hoverPointer:hover {
  cursor: pointer; }

/* header */
#header_lesson {
  position: fixed;
  top: 0;
  width: calc(100% - 20px);
  min-width: 980px;
  height: 50px;
  margin: 0;
  padding: 0 10px; }
  #header_lesson .logo {
    float: left;
    padding: 11px 0 0 0;
    color: DarkGreen;
    font-family: Impact;
    font-size: 28px;
    line-height: 28px;
    height: 28px;
    width: 150px; }
  #header_lesson .lesson_title {
    position: fixed;
    top: 0;
    width: calc(100% - 320px);
    min-width: 980px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 150px;
    padding: 0; }
  #header_lesson .back_menu {
    float: right;
    font-size: 16px;
    line-height: 16px;
    width: 150px;
    padding: 17px 0 0 0;
    margin: 0; }

/* mixin for main*/
/* main */
#main {
  clear: both;
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  bottom: 0px;
  background-color: WhiteSmoke;
  margin: 0;
  padding: 0;
  /* lesson_area */ }
  #main .lesson_area {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 483px;
    height: calc(100% - 14px);
    margin: 7px 0 7px 7px;
    padding: 0;
    /* lesson_mini_title */
    /* tab */
    /* lesson_content */
    /* hint_zone */
    /* レッスン切替えボタン */ }
    #main .lesson_area .lesson_mini_title {
      width: 100%;
      height: 36px;
      background-color: DarkGreen;
      border-radius: 5px 5px 0 0;
      margin: 0;
      border-bottom: solid 1px gray; }
      #main .lesson_area .lesson_mini_title .mini_title_str {
        font-size: 20px;
        line-height: 20px;
        color: white;
        padding: 0;
        margin: 8px 0 8px 10px;
        float: left; }
      #main .lesson_area .lesson_mini_title .lesson_now_num {
        font-size: 14px;
        line-height: 14px;
        color: white;
        padding: 5px;
        border: solid 1px white;
        border-radius: 3px;
        margin: 4.5px 10px 4.5px 0;
        float: right; }
    #main .lesson_area .tab_change {
      height: 25px;
      margin: 0;
      border-left: solid 1px gray;
      padding: 0; }
      #main .lesson_area .tab_change .tab_change_li {
        width: calc((100% - 3px) / 4);
        background-color: DarkGreen;
        color: white;
        list-style: none;
        float: left;
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        padding: 5px 0; }
      #main .lesson_area .tab_change .tab_change_li ~ li {
        border-left: solid 1px gray; }
    #main .lesson_area .lesson_content {
      clear: both;
      height: calc(100% - 61px);
      background-color: white;
      position: relative;
      overflow: hidden;
      border-radius: 0 0 5px 5px; }
      #main .lesson_area .lesson_content .lesson_content_title {
        position: absolute;
        line-height: 27px;
        top: 10px;
        width: calc(100% - 30px);
        margin: 0 0 0 10px;
        padding: 0 10px; }
      #main .lesson_area .lesson_content .lesson_content_detail {
        position: absolute;
        top: 47px;
        width: calc(100% - 40px);
        height: 100px;
        line-height: 25px;
        padding: 0 20px 10px 20px;
        margin: 0 0;
        overflow: hidden; }
    #main .lesson_area .hint_zone {
      position: absolute;
      top: 218px;
      width: 100%;
      height: calc(100% - 218px - 46px); }
      #main .lesson_area .hint_zone #hint_top {
        position: absolute;
        top: 0;
        color: white;
        height: 24px;
        width: 440px;
        background-color: indigo;
        padding: 0;
        margin: 0 21.5px;
        text-align: center;
        border-radius: 5px 5px 0 0; }
        #main .lesson_area .hint_zone #hint_top .hint_watch {
          width: 180px;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          margin: 5px 0 5px 120px;
          padding: 0px;
          float: left; }
        #main .lesson_area .hint_zone #hint_top .hint_appear {
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          float: right;
          margin: 5px 10px; }
      #main .lesson_area .hint_zone .hint_contents {
        position: absolute;
        top: 24px;
        height: calc(100% - 24px - 10px);
        width: 440px;
        padding: 0;
        margin: 0 21.5px;
        clear: both; }
        #main .lesson_area .hint_zone .hint_contents .hint_contents_detail {
          position: absolute;
          top: 0;
          width: 420px;
          height: calc(100% - 20px);
          line-height: 25px;
          background-color: #E3CEF6;
          padding: 10px 10px;
          margin: 0;
          border-radius: 0 0 5px 5px;
          overflow: scroll; }
      #main .lesson_area .hint_zone #hint_switch {
        visibility: visible; }
    #main .lesson_area .lesson_bottom {
      position: absolute;
      bottom: 17px;
      width: 100%; }
      #main .lesson_area .lesson_bottom .back_button {
        width: 80px;
        margin: 0 0 0 19px;
        float: left; }
      #main .lesson_area .lesson_bottom .switch_button {
        width: 140px;
        margin: 0 0 0 70px;
        border: solid 1px gray;
        border-radius: 3px;
        text-align: center;
        float: left; }
      #main .lesson_area .lesson_bottom .forward_button {
        width: 80px;
        margin: 0 19px 0 0;
        text-align: right;
        float: right; }
  #main .preview_and_sample_area {
    position: absolute;
    top: 0;
    left: 490px;
    width: calc(100% - 490px - 14px);
    min-width: 466px;
    height: 100%;
    margin: 7px;
    padding: 0px; }
    #main .preview_and_sample_area .preview_area {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 300px;
      margin: 0px;
      padding: 0px; }
      #main .preview_and_sample_area .preview_area .preview_title {
        width: 100%;
        height: 36px;
        background-color: DarkGreen;
        border-radius: 5px 5px 0 0;
        margin: 0; }
        #main .preview_and_sample_area .preview_area .preview_title .mini_title_str {
          font-size: 20px;
          line-height: 20px;
          color: white;
          padding: 0;
          margin: 8px 0 8px 10px;
          float: left; }
        #main .preview_and_sample_area .preview_area .preview_title .tsukutta_button {
          font-size: 14px;
          line-height: 14px;
          color: white;
          padding: 5px;
          border: solid 1px white;
          border-radius: 3px;
          margin: 4.5px 10px 4.5px 0;
          float: right; }
      #main .preview_and_sample_area .preview_area .reload {
        position: absolute;
        top: 43px;
        right: 17px;
        width: 20px;
        height: 23px;
        z-index: 50; }
        #main .preview_and_sample_area .preview_area .reload img {
          width: 20px; }
      #main .preview_and_sample_area .preview_area .preview_content {
        clear: both;
        position: absolute;
        top: 36px;
        width: 100%;
        height: 250px;
        background-color: white;
        border-radius: 0 0 5px 5px; }
    #main .preview_and_sample_area .sample_area {
      position: absolute;
      top: calc(36px + 250px);
      right: 0;
      width: 100%;
      height: calc(100% - 286px - 7px);
      margin: 7px 0 0 0;
      padding: 0px; }
      #main .preview_and_sample_area .sample_area .sample_title {
        width: 100%;
        height: 36px;
        background-color: DarkGreen;
        border-radius: 5px 5px 0 0;
        margin: 0; }
        #main .preview_and_sample_area .sample_area .sample_title .mini_title_str {
          font-size: 20px;
          line-height: 20px;
          color: white;
          padding: 0;
          margin: 8px 0 8px 10px;
          float: left; }
      #main .preview_and_sample_area .sample_area .mihon_content {
        clear: both;
        position: absolute;
        top: 36px;
        width: 100%;
        height: calc(100% - 36px - 14px);
        background-color: white;
        border-radius: 0 0 5px 5px; }

/*# sourceMappingURL=lesson.css.map */
