/* fontsize */
$lesson_title_fs:32px;
$sub_title_fs:20px;

/* region_colors */
$base_color:white;
$sub_base_color:WhiteSmoke;
$main_color:DarkGreen;
$accent_color:indigo;
$sub_accent_color:#E3CEF6;

/* font_color */
$dark_font_color:black;
$light_font_color:white;

/* others_color */
$menu_line_color:gray;

/* 全体 */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana
,"ＭＳ Ｐゴシック",sans-serif;
}

.hoverPointer:hover {
    cursor: pointer;
}

/* header */
#header_lesson {
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    min-width: 980px;
    height: 50px;
    margin: 0;
    padding: 0 10px;
    
    .logo {
        float: left;
        padding: 11px 0 0 0;
        color: $main_color;
        font-family: Impact;
        font-size: 28px;
        line-height: 28px;
        height: 28px;
        width: 150px;
    }
    
    .lesson_title {
        position: fixed;
        top:0;
        width: calc(100% - 320px);
        min-width: 980px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: 0 150px;
        padding: 0;
    }
    
    .back_menu {
        float: right;
        font-size: 16px;
        line-height: 16px;
        width: 150px;
        padding: 17px 0 0 0;
        margin: 0;
    }
}

/* mixin for main*/
@mixin mini_title {
    width: 100%;
    height: 36px;
    background-color: $main_color;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

@mixin mini_title_str {
    font-size: $sub_title_fs;
    line-height: $sub_title_fs;
    color: $light_font_color;
    padding: 0;
    margin: 8px 0 8px 10px;
    float: left;
}

/* main */
#main{
    clear: both;
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    bottom: 0px;
    background-color: $sub_base_color;
    margin: 0;
    padding: 0;
    
    /* lesson_area */
    .lesson_area {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        width: 483px;
        height: calc(100% - 14px);
        margin: 7px 0 7px 7px;
        padding: 0;
    
        /* lesson_mini_title */
        .lesson_mini_title {
            @include mini_title;
            border-bottom: solid 1px gray;
            
            .mini_title_str {
                @include mini_title_str;
            }
            
            .lesson_now_num {
                font-size: 14px;
                line-height: 14px;
                color: $light_font_color;
                padding: 5px;
                border: solid 1px $light_font_color;
                border-radius: 3px;
                margin: 4.5px 10px 4.5px 0;
                float: right;
            }
        }
    
        /* tab */
        .tab_change {
            height: 25px;
            margin: 0;
            border-left: solid 1px $menu_line_color;
            padding: 0;
            
            .tab_change_li {
                width: calc((100% - 3px) / 4);
                background-color: $main_color;
                color: $light_font_color;
                list-style: none;
                float: left;
                text-align: center;
                font-size: 15px;
                line-height: 15px;
                padding: 5px 0;
            }
            
            .tab_change_li ~ li {
                border-left: solid 1px $menu_line_color;
            }
        }
    
        /* lesson_content */
        .lesson_content {
            clear: both;
            height: calc(100% - 61px);
            background-color: $base_color;
            position: relative;
            overflow: hidden;
            border-radius: 0 0 5px 5px;
            
            .lesson_content_title {
                position: absolute;
                line-height: 27px;
                top: 10px;
                width: calc(100% - 30px);
                margin: 0 0 0 10px;
                padding: 0 10px;
            }
            
            .lesson_content_detail {
                position: absolute;
                top: 47px;
                width: calc(100% - 40px);
                height: 100px;
                line-height: 25px;
                padding: 0 20px 10px 20px;
                margin: 0 0;
                overflow: hidden;
            }

        }
    
        /* hint_zone */    
        .hint_zone {
        position: absolute;
        top: 157px + 61px;
        width: 100%;
        height: calc(100% - 218px - 46px);
        
        #hint_top {
            position: absolute;
            top: 0;
            color: $light_font_color;
            height: 24px;
            width: 440px;
            background-color: $accent_color;
            padding: 0;
            margin: 0 21.5px;
            text-align: center;
            border-radius: 5px 5px 0 0;
            
            .hint_watch {
                width: 180px;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
                margin: 5px 0 5px 120px;
                padding: 0px;
                float: left;
            }
            
            .hint_appear {
                font-size: 14px;
                height: 14px;
                line-height: 14px;
                float: right;
                margin: 5px 10px;
            }
        }
        
        .hint_contents {
            position: absolute;
            top: 24px;
            height: calc(100% - 24px - 10px);
            width: 440px;
            padding: 0;
            margin: 0 21.5px;
            clear: both;
            
            .hint_contents_detail {
                position: absolute;
                top: 0;
                width: 420px;
                height: calc(100% - 20px);
                line-height: 25px;
                background-color: $sub_accent_color;
                padding: 10px 10px;
                margin: 0;
                border-radius: 0 0 5px 5px;
                overflow: scroll;
            }
        }
        
        #hint_switch {
            visibility: visible;
        }
    }
    
        /* レッスン切替えボタン */
        .lesson_bottom {
        position: absolute;
        bottom: 17px;
        width: 100%;
        
        .back_button {
            width: 80px;
            margin: 0 0 0 19px;
            float: left;
        }
        
        .switch_button {
            width: 140px;
            margin: 0 0 0 70px;
            border: solid 1px $menu_line_color;
            border-radius: 3px;
            text-align: center;
            float: left;
        }
        
        .forward_button {
            width: 80px;
            margin: 0 19px 0 0;
            text-align: right;
            float: right;
        }
    }
    }
    
    .preview_and_sample_area {
        position: absolute;
        top: 0;
        left: 490px;
        width: calc(100% - 490px - 14px);
        min-width: 466px;
        height: 100%;
        margin: 7px;
        padding: 0px;
    
        .preview_area {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 300px;
            margin: 0px;
            padding: 0px;
            
            .preview_title {
                @include mini_title;
                
                .mini_title_str {
                    @include mini_title_str;
                }
                
                .tsukutta_button {
                    font-size: 14px;
                    line-height: 14px;
                    color: $light_font_color;
                    padding: 5px;
                    border: solid 1px $light_font_color;
                    border-radius: 3px;
                    margin: 4.5px 10px 4.5px 0;
                    float: right;
                }
            }
            
            .reload {
                position: absolute;
                top:43px;
                right: 17px;
                width: 20px;
                height: 23px;
                z-index: 50;
                
                img{
                    width: 20px;
                }
            }
            
            .preview_content {
                clear: both;
                position: absolute;
                top: 36px;
                width: 100%;
                height: 250px;
                background-color: $base_color;
                border-radius: 0 0 5px 5px;
            }
        }
    
        .sample_area {
            position: absolute;
            top: calc(36px + 250px);
            right: 0;
            width: 100%;
            height: calc(100% - 286px - 7px);
            margin: 7px 0 0 0;
            padding: 0px;
            
            .sample_title {
                @include mini_title;
                
                .mini_title_str {
                    @include mini_title_str;
                }
            }
            
            .mihon_content {
                clear: both;
                position: absolute;
                top: 36px;
                width: 100%;
                height: calc(100% - 36px - 14px);
                background-color: $base_color;
                border-radius: 0 0 5px 5px;
            }
        }
    }
}